extends baseLayout

block body
  - var index = contents['index.json'].metadata;
  - var me = contents.authors['baker.json'].metadata;
  div.container
    nav(role="navigation")
      div.navbar-custom
        ul.nav-center
          li
            a !{index.headerLinks.blog.label}
          li
            a !{index.headerLinks.resume.label}
          li
            a !{index.headerLinks.twitter.label}
    div#splash
      h1 Joe
    div.content
      div.block#about
        div.block-header
        div.block-content
          div.block-preview
            | Hey, my name is Joe Mercer.
          div.block-full.hide
            | !{index.about.sections.main.html}
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block
        div.block-header
        div.block-content
          div.block-preview
            | some crazy ass preview text
          div.block-full.hide
            | even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded 
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block
        div.block-header
        div.block-content
          div.block-preview
            | Hey, my name is Joe Mercer.
          div.block-full.hide
            | !{index.about.sections.main.html}
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block
        div.block-header
        div.block-content
          div.block-preview
            | some crazy ass preview text
          div.block-full.hide
            | even more text that would be shown in the expanded versi
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block
        div.block-header
        div.block-content
          div.block-preview
            | Hey, my name is Joe Mercer.
          div.block-full.hide
            | !{index.about.sections.main.html}
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block
        div.block-header
        div.block-content
          div.block-preview
            | some crazy ass preview text
          div.block-full.hide
            | even more text that would be shown in the expanded versi
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block.transparent
      div.block.transparent
      div.clearfix
