extends baseLayout

block body
  - var index = contents['index.json'].metadata;
  - var me = contents.authors['baker.json'].metadata;
  div.container
    nav(role="navigation")
      div.navbar-custom
        ul.nav-center
          li
            a !{index.headerLinks.blog.label}
          li
            a !{index.headerLinks.resume.label}
          li
            a !{index.headerLinks.twitter.label}
    div#splash
      h1 Joe
    div.content
      div.row-golden-large what is up yo
      div.row-golden-small
      div.block
        div.container-golden
          | HELLO
      div.block
        div.block-content
          div.row-golden-large what is up yo
          div.row-golden-small
      div.block
        div.col-xs-center-golden-small
      div.block#about
        div.block-header
        div.block-content
          div.block-preview
            | Hey, my name is Joe Mercer.
          div.block-full.hide
            | !{index.about.sections.main.html}
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block
        div.block-header
        div.block-content
          div.block-preview
            | some crazy ass preview text
          div.block-full.hide
            div 
              | even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded version of this crazy ass block even more text that would be shown in the expanded 
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block.expanded
        div.block-header
        div.block-content
          div.block-preview.hide
            | Golden Bootstrap 3
          div.block-full.golden-typography
            div
              h2 Heading
                .small subheading
              h3 Heading
                .small subheading
              div.golden-image
                img(src="http://placehold.it/350x150")
              p.golden-content.two-columns Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis auctor vestibulum. Maecenas suscipit vehicula magna nec rutrum. Proin eleifend tellus nec nunc interdum, nec varius ipsum eleifend. In tincidunt felis a felis porta eleifend id at enim. Aenean eu arcu adipiscing, aliquet turpis facilisis, scelerisque dui. Vestibulum sed nisl eu elit fringilla dictum in eget neque. Etiam et vestibulum quam. Maecenas ullamcorper mollis neque eget eleifend. Donec pulvinar eros sed lorem dignissim, sit amet luctus sapien gravida. Sed commodo ullamcorper elit, id cursus velit feugiat eget. Praesent a purus at dolor porttitor pellentesque. Sed eros libero, vehicula eget magna vitae, fermentum vehicula nisi.
            div
              | SMALL
            div.golden-rectangle
            div.clearfix
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block.expanded
        div.block-header
        div.block-content
          div.block-preview.hide
            | Reg Bootstrap bro
          div.block-full
            div.col-sm-golden-large.col-xs-6
              h1 Heading
                .small subheading
              h3 Heading
                .small subheading
              p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis auctor vestibulum. Maecenas suscipit vehicula magna nec rutrum. Proin eleifend tellus nec nunc interdum, nec varius ipsum eleifend. In tincidunt felis a felis porta eleifend id at enim. 
              p Aenean eu arcu adipiscing, aliquet turpis facilisis, scelerisque dui. Vestibulum sed nisl eu elit fringilla dictum in eget neque. Etiam et vestibulum quam. Maecenas ullamcorper mollis neque eget eleifend. 
              p.small Donec pulvinar eros sed lorem dignissim, sit amet luctus sapien gravida. Sed commodo ullamcorper elit, id cursus velit feugiat eget. Praesent a purus at dolor porttitor pellentesque. Sed eros libero, vehicula eget magna vitae, fermentum vehicula nisi.
            div.col-sm-golden-small.col-xs-6
              | SMALL
            div.clearfix
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block
        div.block-header
        div.block-content
          div.block-preview
            | Hey, my name is Joe Mercer.
          div.block-full.hide
            | !{index.about.sections.main.html}
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block
        div.block-header
        div.block-content
          div.block-preview
            | some crazy ass preview text
          div.block-full.hide
            | even more text that would be shown in the expanded versi
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block.transparent.scroll-away
        div.scroll-away-target
      div.block.transparent.scroll-away
        div.scroll-away-target
      div.block
        div.block-header
        div.block-content
          div.block-preview
            | some crazy ass preview text
          div.block-full.hide
            | even more text that would be shown in the expanded versi
        div.block-footer
          span.glyphicon.glyphicon-plus.change-size.expand
      div.block.transparent
      div.block.transparent
      div.clearfix
