extend baseLayout

block body
  div#wrap
    header.header.container
      block header
        div.page-header
          h1 !{locals.name}

          small Blog | Resume
        p HELLO
        p HELLO
        div#header
          h1
            a(href=locals.url)= locals.name
            |  - 
            a(href="http://localhost:8080/resume.html") Resume
          p.description.lead= locals.description

    div#content.container
      block content

    footer.footer.container
      block footer
        section.about
          !=contents['about.md'].html
        section.copy
          p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
            a(href='https://github.com/jnordberg/wintersmith') Wintersmith
            //- please leave the "powered by" if you use the design