extends layout

block title
  | #{page.title}

block header

block content
  - // include mixins
  include resumeSection
  include educationEntry
  include experienceEntry
  include projectEntry

  - var contact = page.metadata.contact
  if (env.helpers.filter(contact.entries))
    div.page-header
      h1 !{contact.fixed.name}
      div#contact
        p.lead.text-muted 
          a(href="#{contact.fixed.twitterURL}", target="_blank") #{contact.fixed.twitterText} 
          | | #{contact.fixed.phoneText}
      - var summary = page.metadata.summary
      if (env.helpers.filter(summary.entries, summary.minEntries, summary.maxEntries))
        div#summary
          dl.dl-horizontal
            each bullet in env.helpers.filter(summary.entries, summary.minEntries, summary.maxEntries)
              dt!= bullet.word
              dd!= bullet.text

  dl.dl-horizontal
    - var education = page.metadata.education
    mixin resumeSection(education, 'education')
    hr
    - var experience = page.metadata.experience
    mixin resumeSection(experience, 'experience')
    hr
    - var projects = page.metadata.projects
    mixin resumeSection(projects, 'projects')

block footer